<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>EmployeeServlet</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp </welcome-file>
     <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
  <servlet-name>Registration</servlet-name>
  <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Registration</servlet-name>
  <servlet-class>com.bridgelabz.service.Registration</servlet-class> 
   </servlet>
  
  
  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>com.bridgelabz.service.Login</servlet-class> 
   </servlet>
  
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.bridgelabz.service.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.bridgelabz.service.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PreLogin</servlet-name>
    <servlet-class>com.bridgelabz.service.PreLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreLogin</servlet-name>
    <url-pattern>/PreLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>PreRegister</servlet-name>
    <servlet-class>com.bridgelabz.service.PreRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreRegister</servlet-name>
    <url-pattern>/PreRegister</url-pattern>
  </servlet-mapping>
 
   <servlet>
    <servlet-name>PreSuccess</servlet-name>
    <servlet-class>com.bridgelabz.service.PreSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreSuccess</servlet-name>
    <url-pattern>/PreSuccess</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PreError</servlet-name>
    <servlet-class>com.bridgelabz.service.PreError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreError</servlet-name>
    <url-pattern>/PreError</url-pattern>
  </servlet-mapping>

 <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.bridgelabz.service.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginRegistration</url-pattern>
  </filter-mapping>

 <filter>
    <filter-name>RegistrationFilter</filter-name>
    <filter-class>com.bridgelabz.service.RegistrationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegistrationFilter</filter-name>
    <url-pattern>/Registration</url-pattern>
  </filter-mapping>

<listener>
    <listener-class>com.bridgelabz.service.Listener</listener-class>
  </listener>
  <listener>
		<listener-class>com.bridgelabz.service.SessionCountListener</listener-class>
	</listener>
  
</web-app>